/* 首页css样式 */
.wrapper {
  margin: 0 auto;
  width: 1200px;
}

body {
  background-color: #f3f5f7;
}
/* 头部区域 */
.header {
  height: 100px;
  background-color: #fff;
}
.header .wrapper {
  display: flex;
  padding-top: 29px;
}

/* logo */
.logo a{
  display: block;
  width: 195px;
  height: 41px;
  background-image: url(../images/logo.png);
  font-size: 0;
}

/* 导航 */
.nav {
  margin-left: 102px;
}
.nav ul {
  display: flex;

}

.nav li {
  margin-left: 24px;
}

.nav li a  {
  display: block;
  padding: 8px 6px;
  line-height: 27px;
  font-size: 19px;
}

.nav li .active ,
.nav li a:hover {
  border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search {
  display: flex;
  margin-left:64px ;
  padding-left: 19px;
  padding-right: 12px;
  width: 412px;
  height: 40px;
  background-color: #f3f5f7;
  border-radius: 20px;
}
.search input {
  flex:1;
  border: 0;

  background-color: transparent;
  /* 去掉了表单控件的焦点框 */
  outline: none;
}
/* ::placeholder 选中就是placeholder 属性文字样式 */
.search input::placeholder {
font-size: 14px;
color: #999;
}
/* 父级是flex布局，子集变弹性盒子：加宽高生效 */
.search a {
  align-self: center;
  width: 16px;
  height: 16px;
  background-image: url(../images/search.png);
}

